#buttonBlock {
  margin: 40px;
}
#buttonBlock > div {
  margin: 10px;
}
.info {
  background-color: #baf8c9;
  padding: 5px 10px;
  font-size: 18px;
  margin-right: 20px;
  display: inline-block;
  width: 40px;
  text-align: center;
}
.infoText {
  display: inline-block;
  background-color: #baf8c9;
  width: 80px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.button {
  background-color: #d4eefc;
  width: 100px;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-color: aqua;
}
.button:hover {
  background-color: #aedff8;
}

.indicator {
  display: inline-block;
  background-color: green;
  width: 500px;
  height: 20px;
  margin-top: 15px;
}

#pet {
  position: relative;
  z-index: 0;
  /* background-color: green; */
  border: 6px solid #222;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 50px auto;
  box-shadow: 2px 2px 1px #b8b8b8;
}
.left {
  float: left;
}
.right {
  float: right;
}
.eye {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #222;
  margin-top: 35px;
  margin-left: 33px;
}
.eye.right {
  margin-left: 0;
  margin-right: 33px;
}
#mouth {
  position: absolute;
  z-index: 1;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 110px;
  width: 115px;
  margin: 0 auto;
  border-bottom: 8px solid #222;
  border-radius: 50%;
}
#mouth.dead {
  top: 100px;
  height: 20px;
  border-top: 8px solid #222;
  border-bottom: none;
}
